[MESSAGES CONTROL]
# Disable specific messages/warnings
disable=
    too-few-public-methods,  # Disable warning about classes having too few public methods
    unnecessary-pass, # Disable warning about classes having unnecessary passes
    line-too-long

[FORMAT]
# Maximum line length
max-line-length=100