[MESSAGES CONTROL]
# Disable specific messages/warnings
disable=
    too-few-public-methods  # Disable warning about classes having too few public methods

[FORMAT]
# Maximum line length
max-line-length=100